.main-container{
    width:20vw;
    height: 50vh;
    margin-top: 20vh;
    padding: 5vh;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.inner{
    width: fit-content;
}
.inner button{
    border: none;
    background-color: black;
    color:white;
    font-size: 20px;
    padding: 3vh;
    cursor: pointer;
}
.inner button.active {
    background-color: white;
    color: black;
}