.main-container{
    width:100vw;
    height: 90vh;
    padding-top: 5vh;
}
.inner-container{
    width:90vw;
    height: 90vh;
    display: flex;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    border-radius: 5px;
}
.info-container{
    flex: 0.5;
}
.login-page{
    flex: 0.5;
}
.choose-container h1{
    margin-left: 10vw;
}
.option{
    margin-left: 10vw;
}
.option button{
    width: 10vw;
    padding: 15px;
    border: none;
    margin: 5px;
    background-color: rgb(226, 83, 69);
    color: white;
    font-weight: bold;
}
.inner{
    /*background-color: rgb(101, 52, 131);*/
    color: white;
    width: 80vh;
    margin-left: 10vw;
    padding: 15px;
}
.inner2{
    margin-top: 25vh;
    width:50vw;
    color: #fab8b8;
    /*background-color: rgb(101, 52, 131);*/
    padding: 15px;
    border-radius: 15px;
    /*box-shadow: 0px 2px 3px rgba(0,0,0,0.7);*/
    font-family: Copperplate, Papyrus, fantasy;
}